<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- include('menu', {active: "myrecipes"}); %>
	
	<div class="main">
		<h1><%= title %></h1>

		<div id="myrecipes">

			<h2>Your recipes: </h2>

			<%allrecipes.forEach(function (recipe) { %>

			<% if(recipe.cook_username === username) {%>

			<button type="button" class="collapsible"><%=recipe.title%></button>

			<div class="content">
				<br>
				<h2><%=recipe.title%></h2>	

				<p>Created by: <%=recipe.cook_username%></p>
				<p>Category: <%=recipe.category_name%></p>
				<p>Yield: <%=recipe.yield%></p>
				<p>Ingredients:</p> 
				<ul> 
					<%ingredients.forEach(function (ingr) { %>
					<% if(recipe.recipe_id === ingr.recipe_id) {%>
					<li><%=ingr.ingredient_name%><%=ingr.quantity%> <%=ingr.unit_code%></li>
					<br>
					<%}%>
					<% });%>

				</ul> 
				<p>Directions: </p>
				<p><%=recipe.instructions%></p>  
				<br>
			</div>
			<%}%>
			<%});%>

		</div>

	</div>
	<!-- Script for the collapsible button -->
	<script src="/javascripts/recipes-public.js" type="text/javascript"></script>

</body>
</html>
