<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
	<%- include('menu', {active: "recipes"}); %>

	<div class="main">

		<h1><%= title %></h1>

		<div id="allrecipes">

			<!-- Loop through all the recipes from database and display them as follow -->

			<%allrecipes.forEach(function (recipe) { %>
			<br>

			<button type="button" class="collapsibleBtn"><%=recipe.title%></button>

			<div class="content">

				<h2><%=recipe.title%></h2>

				<p>Created by: <%=recipe.cook_username%></p>

				<p>Category: <%=recipe.category_name%></p>

				<p>Yield: <%=recipe.yield%></p>

				<p>Ingredients:</p> 

				<ul>

					<!-- Loop through all the ingredients that belong to the recipe and display them as follow -->

					<%ingredients.forEach(function (ingr) { %>

					<% if(recipe.recipe_id === ingr.recipe_id) {%>

					<li><%=ingr.ingredient_name%> <%=ingr.quantity%> <%=ingr.unit_code%></li>

					<br>

					<%}%>
					<% });%>

				</ul> 

				<p>Directions:</p>
				<p><%=recipe.instructions%></p>  

				<input type="button" class="editBtn" value="Edit">
				
				<input type="button" class="deleteBtn" value="Delete">

				<br>
				<br>

			</div>

			<br>

			<% });%>
		</div>

	</div>
	
	<!-- Script for the collapsible button -->
	<script src="/javascripts/recipes-public.js" type="text/javascript"></script>

</body>
</html>
